.cart-container, .checkout-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 100px;
    border-radius: 5px;
}

.cart-item-info {
    width: 60%;
}

.cart-item-info h3 {
    font-size: 1.2rem;
    color: #007bff;
}

.cart-item-info p {
    font-size: 1rem;
    color: #666;
}

.cart-item-price {
    font-size: 1.2rem;
    color: #ff6842;
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 20px;
}
